# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Custom
.vs
sort/out
sort/build
sort/.vs
sort/.idea

sort_show/out
sort_show/build
sort_show/.vs
sort_show/.idea

midi_music/out
midi_music/build
midi_music/.vs
midi_music/.idea

*/out
