/* Solarized */
html {
    --base03: #002b36;
    --base02: #073642;
    --base01: #586e75;
    --base00: #657b83;
    --base0: #839496;
    --base1: #93a1a1;
    --base2: #eee8d5;
    --base3: #fdf6e3;
    --yellow: #b58900;
    --orange: #cb4b16;
    --red: #dc322f;
    --magenta: #d33682;
    --violet: #6c71c4;
    --blue: #268bd2;
    --cyan: #2aa198;
    --green: #859900;
}

/* spacing */
body>* {
    margin: 1rem;
}

body>*:not(h1, h2, h3, h4) {
    font-size: large;
}

h1>code, h2>code, h3>code, h4>code {
    font-size: inherit;
}

/* source code */
/* common properties */
div.sourceCode, code {
    font-size: large;
    font-family: 'Consolas', monospace;
}

/* code block */
body>div.sourceCode, body>code, body>pre {
    border: solid black 1px;
    border-radius: 5px;
    padding: 1rem;
    color: var(--base0);
    background-color: var(--base3);
}

/* colored code */
.sourceCode .kw {
    color: var(--cyan);
}

.sourceCode .cf {
    color: var(--blue);
}

.sourceCode .st {
    color: var(--red);
}

.sourceCode .op {
    color: var(--blue)
}

/* three line table */
table {
    border-collapse: collapse;
    border: solid black;
    border-width: 2px 0 2px 0;
    text-align: center;

    /* center */
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

thead {
    border: solid black;
    border-width: 0 0 1px 0;
}

td {
    padding: 0.2rem 1rem;
}
