/* Solarized */
html {
    --base03: #002b36;
    --base02: #073642;
    --base01: #586e75;
    --base00: #657b83;
    --base0: #839496;
    --base1: #93a1a1;
    --base2: #eee8d5;
    --base3: #fdf6e3;
    --yellow: #b58900;
    --orange: #cb4b16;
    --red: #dc322f;
    --magenta: #d33682;
    --violet: #6c71c4;
    --blue: #268bd2;
    --cyan: #2aa198;
    --green: #859900;
}

/* spacing */
body>* {
    margin: 1rem;
}

/* source code */
.sourceCode {
    font-size: medium;
    font-family: 'Consolas', monospace;
    color: var(--base0);
    background-color: var(--base3);
    border-radius: 5px;
    padding: 1px 5px;
}

.sourceCode .kw {
    color: var(--cyan);
}

.sourceCode .cf {
    color: var(--blue);
}

.sourceCode .st {
    color: var(--red);
}

.sourceCode .op {
    color: var(--blue)
}

/* table */
table {
    border-collapse: collapse;
    border: solid black;
    border-width: 2px 0 2px 0;
}

thead {
    border: solid black;
    border-width: 0 0 1px 0;
}

td {
    padding: 0.2rem 1rem;
}
