@page "/login"
@using System.ComponentModel.DataAnnotations;
@layout Layouts.EmptyLayout
@inject SchoolContext _context
@inject IMessageService _message
@inject SchoolStateProvider _provider
@inject NavigationManager _navigation

<style>
    main {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background: linear-gradient(to bottom right, cyan, pink 60%, pink);
    }

    .login-form {
        
        padding: 1rem;
        background: aliceblue;
        border-radius: 10px;
        box-shadow: 5px 5px 14px -6px black;
    }
</style>

<Form Model="@model" OnFinish="OnFinish" Class="login-form" LabelColSpan="8" WrapperColSpan="32">
    <FormItem Label="学工号">
        <Input @bind-Value="context.Username" />
    </FormItem>
    <FormItem Label="密码">
        <InputPassword @bind-Value="context.Password" />
    </FormItem>
    <FormItem WrapperColOffset="8" WrapperColSpan="32">
        <Button Type="@ButtonType.Primary" HtmlType="submit">登录</Button>
    </FormItem>
</Form>


@code {
#pragma warning disable 4014
    private class LoginModel
    {
        [Required]
        public string Username { get; set; } = "";
        [Required]
        public string Password { get; set; } = "";
    }
    LoginModel model = new();
    
    private async void OnFinish(EditContext context)
    {
        var result = await _provider.Login(model.Username, model.Password);
        if (result)
        {
            _message.Info("登录成功");
            _navigation.NavigateTo("/", true);
        }
        else
        {
            _message.Warning("用户名或密码错误");
        }
    }
}
